appdirs==1.4.4
argcomplete==2.0.0
certifi==2020.6.20
chardet==4.0.0
colorzero==1.1
distro==1.5.0
escpos==1.9
future==0.18.2
gpiozero==1.6.2
idna==2.10
Pillow==9.1.1
pycups==2.0.1
pyserial==3.5
python-apt==2.2.1
python-barcode==0.14.0
python-escpos==2.2.0
pyusb==1.2.1
PyYAML==6.0
qrcode==7.3.1
requests==2.25.1
RPi.GPIO==0.7.0
six==1.16.0
spidev==3.5
ssh-import-id==5.10
urllib3==1.26.5
viivakoodi==0.8.0
