# 프린터
python-escpos>=2.2.0
pyusb>=1.2.1

# GPIO (Odroid용)
# 설치: git clone https://github.com/awesometic/RPi.GPIO-Odroid && sudo python setup.py build install
RPi.GPIO>=0.6.3

# 이미지 처리
Pillow>=9.1.1

# 바코드/QR
python-barcode>=0.14.0
qrcode>=7.3.1

# 직렬 통신
pyserial>=3.5

# 유틸
setuptools>=65.0.0
requests>=2.22.0
PyYAML>=5.3.1
