appdirs==1.4.4
argcomplete==2.0.0
certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
distro==1.4.0
distro-info===0.23ubuntu1
escpos==1.9
future==0.18.2
idna==2.8
netifaces==0.10.4
Pillow==9.3.0
pycups==2.0.1
PyGObject==3.36.0
pyserial==3.5
python-apt==2.0.0+ubuntu0.20.4.8
python-barcode==0.14.0
pyusb==1.2.1
PyYAML==5.3.1
qrcode==7.3.1
requests==2.22.0
requests-unixsocket==0.2.0
RPi.GPIO==0.6.3.post1
six==1.14.0
ssh-import-id==5.10
ubuntu-advantage-tools==27.11.3
unattended-upgrades==0.1
urllib3==1.25.8
viivakoodi==0.8.0
